<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>Dojo Survey</title>
</head>

<body>
    <div class="container">
        <div class="outline">
                <p>Hello, {{template_name}}</p>
                <p>You are currently in {{template_location}}</p>
                <p>Your favorite language is {{template_lang}}</p>
                <p>{{template_text}}</p>
        
        </div>
    </div>
</body>

</html>