<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div>
        <h1>Add a Book</h1>
        <form action="/book/create" method="post">
            {% csrf_token %}
            <p>Title <input type="text" name="title" /></p>
            <p>Description <textarea name="desc"></textarea></p>
            <button type='submit'>Submit</button>
        </form>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in allbooks %}
                    <tr>
                        <th scope="row">{{book.id}}</th>
                        <td>{{book.title}}</td>
                        <td><a href="book/{{book.id}}">view</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{allbooks.title}}
        </div>
    </div>
</body>

</html>