<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>{{author.name}}</h1>
    <p>{{author.id}}</p>
    Description<p>{{author.notes}}</p>
    </div>
    <div>
        <h1>Books</h1>
        <ul>
            {% for book in author.books.all %}
            <li>{{book.title}}</li>
            {% endfor %}

        </ul>
        <form action="/book/add" method="post">
            {% csrf_token %}
        <select name="bookchoice">
            {% for book in books %}
            <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}
            <input type="hidden" name="authoradd" value="{{author.id}}"/>
        </select>
        <button type="submit">Submit</button>
        </form>
            
            
    </div>
</body>
</html>