<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <title>Dojo Survey</title>
</head>

<body>
    <div class="container">
        <div class="outline">
            <p>Hello, {{ request.session.forminfo.name }}</p>
            <p>You are currently in {{ request.session.forminfo.location }}</p>
            <p>Your favorite language is {{ request.session.forminfo.language }}</p>
            <p>{{ request.session.forminfo.text }}</p>

        </div>
    </div>
</body>

</html>






















 