.container {
  margin-top: 30px;
}

a {
  font-size: 2.5em !important;
}

nav {
}

#nav-home-tab {
  background-color: #b1dae7;
  border: none;
}

.header {
  display: flex;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-image: linear-gradient(#b1dae7, white);
}

.recent-posts {
  width: 60%;
}

.post:hover {
  transform: scale(1.021);
  transition-duration: 0.3s;
}

.create-form {
  margin-left: 10%;
  text-align: center;
}

.form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  background-image: linear-gradient(antiquewhite, bisque);
  box-shadow: 0 10px 6px -6px #777;
}

input {
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
}

textarea {
  border-radius: 10px;
}

.post {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #777;
  margin-bottom: 40px;
  background-color: white;
}

.post-img {
  max-width: 100%;
  max-height: 400px;
  filter: sepia(0%) saturate(70%) brightness(90%);
  border-radius: 10px;
}

.post-img:hover {
  filter: sepia(0%) saturate(100%) brightness(100%);
}

.img-holder {
  text-align: center;
  padding: 10px;
}

.post-info {
  padding: 10px;
}

.post-info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-menu {
  font-size: 10px;
}

.menu-form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px;
  background-image: linear-gradient(antiquewhite, bisque);
}

.menu-create {
  margin-left: 10%;
}
.date-area {
  display: flex;
}
.posted-at {
  width: 90%;
}

.bstn {
  background-color: white;
  border: none;
  font-size: 30px;
}

.bstn:focus {
  transform: scale(0.8);
  transition-duration: 0.2s;
  outline: none;
}

#like {
  color: red;
}

#like:hover {
  color: rgb(184, 63, 63);
}

#like {
  border: none;
}

#trash {
  color: black;
}

#trash:hover {
  color: rgb(187, 161, 161);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding: 40px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 40px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.photo-content {
  max-height: 600px;
  display: flex;
}

.comment-content {
  width: 50%;
}

.like-total {
  background-color: white;
  border: none;
  outline: none;
  padding: 0%;
  color: black;
}
