<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Edit {{this_show.title}}</title>
</head>
<body>
    <div class="container">
        <h1>{{this_show.title}}</h1><a href="/">Go home</a>
        <hr>
        {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <form action="/editshow/{{this_show.id}}" method="post">
            {% csrf_token %}
            <span>Title:</span>
            <p><input type="text" name="title" value="{{this_show.title}}"></p>
            <span>Network:</span>
            <p><input type="text" name="network" value="{{this_show.network}}"></p>
            <span>Release Date:</span>
            <p><input type="date" name="rdate" value="{{this_show.release_date}}"></p>
            <span>Description:</span>
            <p> <textarea name="desc">{{this_show.desc}}</textarea></p>
            <button type="submit">Edit</button>
        </form>
        <a href="/about/{{this_show.id}}">Go to Show</a>
    </div>
</body>
</html>
