<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>

<body>
<h1>Today's Date is {{time}}</h1>
    <div class="clock">
        <div></div>
        <div class='clock-face'>
            <div class="hand hour-hand"></div>
            <div class="hand min-hand"></div>
            <div class="hand second-hand"></div>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
    
</body>

</html>