<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="top">
        <div class=add-dojo>
            <form action="/add-dojo" method="post">
                {% csrf_token %}
                <p>Name <input type="text" name="dojo_name" id=""></p>
                <p>City <input type="text" name="dojo_city" id=""></p>
                <p>State <input type="text" name="dojo_state" id=""></p>
                <p><button type="submit">Add</button></p>
            </form>
        </div>
        <div class="add-ninja">
            <form action="/add-ninja" method="post">
                {% csrf_token %}
                <p>First Name <input type="text" name="f_name"></p>
                <p>Last Name <input type="text" name="l_name"></p>
                <p>Dojo <select name="dojo">
                    {% for dojoobj in alldojos %}
                    <option value="{{dojoobj.id}}">{{ dojoobj.name }}</option>
                    {% endfor %}
                </select></p>
                <p><button type="submit">Add</button></p>
            </form>



        </div>
    </div>
    <hr>
    <div class="bottom">
        {% for dojoobj in alldojos %}
        <div class="adojo">
           <h3>{{ dojoobj.name }}</h3>
           <ul>
               {% for person in dojoobj.ninjas.all %}
               <li>{{person.first_name}}</li> 
               {% endfor %}
           </ul>
        </div>
        {% endfor %}
    </div>





</div>
</body>
</html>

