<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Welcome to All About Marcela</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Welcome to All About Marcela</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Socials</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab"
                    aria-controls="nav-contact" aria-selected="false">About</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab"
                    aria-controls="nav-contact" aria-selected="false">Logout</a>
            </div>
        </nav>
        <div class="header">
            <h1>Recent Posts</h1>
            <hr>
        </div>
        <div class="feed">
            <div class="timeline">
                
            </div>
            <div class="upload">

            </div>
        </div>
    </div>
</body>
</html>