<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'home.js' %}" type="text/javascript"></script>
    <title>Welcome to All About Marcela</title>
</head>
<body>
    
    <div class="container col-lg-10 col-sm-10">
    <!--modals-->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="photo-content">
                    <img id="4" style="margin-right: 40px; max-width: 50%;">
                    <div class="comment-content">
                         <h3 id='3'></h3>
                         <p id="5"></p>
                         <p id='6'></p>
                    </div>
                </div>

            </div>
        </div>
        <!--my account modal-->
        <div id="myAccoundModal" class="modal">
            <div class="modal-content">
               <div class="ModalAccount container">
                <h3 id='accmodh3'></h3>
                <div class="updateaccount">
                    <form action="/updateaccount" method="post">
                        {% csrf_token %}
                        <span>Username</span>
                        <input type="text" name='username' value="{{user.user_name}}" disabled>
                        <span>Email</span>
                        <input type="text" name="email" value={{user.email}} disabled>
                        <span>Password</span>
                        <input type="password" name="password" value="" disabled>
                        <br>
                        <span>You have been a member since:</span>
                        <p id='accmodptag'></p>
                        <div>
                            <button class="btn btn-info" type="submit" disabled>Update</button>
                            <button class="btn btn-warning" type="submit">Edit</button>
                        </div>
                        
                    </form>
                </div>
               </div>
            </div>
        </div>
        <!--likes modal-->
        <div id="mylikesModal" class="modal">
            <div class="modal-content">
                <div class="container">
                    <h1>hi</h1>
                </div>

            </div>
        </div>
    <!--end of modals-->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="/home" role="tab"
                    aria-controls="nav-home tab-pane fade" aria-selected="true" onclick="activeWelcomeTab()">Welcome to All About Marcela</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#" role="tab"
                    aria-controls="nav-profile" aria-selected="false" onclick="activeSocialTab()">Socials</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab"
                    aria-controls="nav-contact" aria-selected="false" onclick="activeAboutTab()">About</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="/logout" role="tab"
                    aria-controls="nav-contact" aria-selected="false">Logout</a>
            </div>
        </nav>
        <div class="header" id='mainheader'>
            <div class="recent-posts" id="post-div-1">
                <h1>Recent Posts</h1>
                <hr>
                {% for post in allposts%}
                <div class="post">
                    <div class="img-holder"> 
                        <img class="post-img" src="{{post.img}}"
                            alt="{{post.title}}" onclick="display('{{post.title}}', '{{post.img}}', '{{post.desc}}', '{{post.posted_at}}')">
                    </div>
                    <div class="post-info">
                        <h3 id="2">{{post.title}}</h3>
                        <p>{{post.desc}}</p>
                        <div class="date-area">
                        <span class="posted-at">{{post.posted_at}}</span>
                        <button class="like-total" disabled>{{post.liked_by.count}}</button>
                        <form action="/like/{{user.id}}/{{post.id}}" method="post">
                            {% csrf_token %}
                            {% if user not in post.liked_by.all %}
                            <button class="bstn" type="submit"><i id='like' class="fa fa-heart-o"></i></button>
                            {% elif user in post.liked_by.all %}
                            <button class="bstn" type="submit"><i id='like' class="fa fa-heart"></i></button>
                            {% endif %}
                        </form>
                        {% if user.id == 1%}
                        <form action="/delete/{{post.id}}" method="post">
                            {% csrf_token %}
                            <button class="bstn" type="submit"><i id='trash' class="fa fa-trash"></i></button>
                        </form>
                        {% endif %}
                       
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
            <!--Social Div-->
            <div class="social-div-info" id='post-div-2'>
                <h1>My Social Accounts</h1>
                <hr>
                <div class="info-social">
                    <div class="social-instagram">
                        <div class="social-insta-img-holder">
                            <img class="soc-img expand" src="https://i.imgur.com/FpAinh1.png" alt="social photo">
                            <img class="soc-img expand" src="https://i.imgur.com/ZA4Icj0.png" alt="social-photo">
                            <img class="soc-img expand" src="https://i.imgur.com/sqpVLwa.png" alt="social-photo">
                            <img class="soc-img" src="https://i.imgur.com/VkGLR0m.png" alt="">

                        </div>
                        <div class="social-insta-text-holder">
                            <h3>Instagram</h3>
                            <hr>
                            <p>
                                𝓜 𝓪 𝓻
                                🌙🌊🌼🐘🌵🐚🌱☀️
                            </p>
                            <p>
                                <a target="_blank" rel="noreferrer noopener" href="https://www.instagram.com/mar.payares/">Follow me here!</a>
                            </p>
                        </div>
                    </div>
                    <div class="facebook">
                        <p>hi</p>
                    </div>
                    <div class="twitter">
                        <p>hi</p>
                    </div>
                </div>
            </div>
            <!--end of social div-->
            {% if user.id == 1%}
            <div class="create-form">
                <h1>Create Post</h1>
                <div class="form">
                    <p>Hello Marcela,</p>
                    <form action="/createPost" method="post">
                        {% csrf_token %}
                        <span>Title</span>
                        <p><input type="text" name="title"></p>
                        <span>Image</span>
                        <p><input type="text" name="img"></p>
                        <span>Description</span>
                        <p><textarea name="desc" cols="30" rows="10"></textarea></p>
                        <button class="btn btn-info btn-md" type="submit">Post it!</button>
                    </form>
                </div>
            </div>
            {% endif %}
            {% if user.id > 1%}
            <div class="menu-create">
                <h1>Menu</h1>
                <div class="menu-form">
                    <p>Hello {{user.user_name}},</p>
                    <hr>
                    <p class="font-menu"><a href="#" onclick="alert('This feature is coming soon...')">Most Liked Post</a></p>
                    <hr>
                    <p class="font-menu"><a href="#" onclick="alert('This feature is coming soon...')">Your comments</a></p>
                    <hr>
                    <p class="font-menu"><a href="#" onclick="displayMyLikes()">Your Likes</a></p>
                    <hr>
                    <p class="font-menu"><a href="#" onclick="alert('This feature is coming soon...')">Message Mar</a></p>
                    <hr>
                    <p class="font-menu"><a href="#" onclick="displayMyAccountModal('{{user.id}}', '{{user.user_name}}', '{{user.email}}', '{{user.password}}', '{{user.created_at}}')">My Account</a></p>
                </div>
            </div>
            {% endif %}
        </div>
        
    </div>
</body>
</html>