<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

    <title>Fruit Store</title>
</head>
<body>
    <div class="container">
        <div class="holder">
            <div class="jumbotron jumbotron-fluid oho">
                <div class="container">
                <h1 class="display-4">Fruit Store</h1>
            </div>
            
             </div>
             <hr>
             <br>
             <br>
          <table class="table table-striped oho">
            <thead>
                <tr>
                    <th scope="col">Fruit Name</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Apple</th>
                    <td>
                        <select>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </td>
        
                </tr>
                <tr>
                    <th scope="row">Strawberry</th>
                    <td>Jacob</td>
        
                </tr>
                <tr>
                    <th scope="row">Bananas</th>
                    <td>Larry</td>
        
                </tr>
            </tbody>
             </table>
        </div>
        <div>
            hi
        </div>

    </div>


    
    
</body>
</html>